# pip list
# pip show
# https://realpython.com/twitter-bot-python-tweepy/#deploying-bots-to-a-server-using-docker

tweepy==4.12.1

pandas==1.5.1
numpy==1.23.4
sodapy==2.2.0
matplotlib==3.6.2
scipy==1.10.0
beautifulsoup4==4.11.1
lxml==4.9.1

matplotlib==3.6.2
plotly==5.11.0

sodapy==2.2.0
beautifulsoup4==4.11.1
lxml==4.9.1

google-cloud-storage==2.6.0
# pydrive2==1.14.0
