# pip list
# pip show

# pip install -r /path/to/requirements.txt

# https://realpython.com/twitter-bot-python-tweepy/#deploying-bots-to-a-server-using-docker

# Posting
tweepy==4.14.0
mastodon.py==1.8.1

# General python
pandas==2.2.1
numpy==1.26.4
scipy==1.12.0
python-dotenv==1.0.1

# Plotting
matplotlib==3.8.3
plotly==5.19.0
Cartopy==0.22.0

# Scraping
sodapy==2.2.0
# beautifulsoup4==4.12.2
# lxml==4.9.3
tabula-py==2.9.0 

# Cloud Storage
google-cloud-storage==2.16.0
# pydrive2==1.14.0

# Dashboard
streamlit==1.31.1